body{
    background-image: url("../img/disenio/fondo.jpg"); 
}
.carro{
    opacity: 0.4;
}
.btn-add{
    background: #00C4CC;
}
.navbar {
    background: #239AD4;
}
.contenedor-big{
    position: relative;
}
.lupa{
    position: absolute;
    background-color: white;
    opacity: 0.5;
}
.zoom-height{
    position: absolute;
    display: none;
    overflow: hidden;
}
.zoom-height img{
    position: absolute;
}
.parrafos{
    font: small-caps bold 130% status-bar;
}
.container-info{
    color: #252526;
}
.btn-pagar{
    background: #2A343D;
    color: white;
}
.btn-carrito{
    background: #E8E8E8;
    color: black;
}
.fotoGoku{
    border-radius: 8px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 1.5);
}

.derechos{
    color: #E8E8E8;
}
.card{
    background: transparent;
    color: black;
    width: 360px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.card img{
    
}
footer{
    bottom: 0;
    width: 100%;
    height: 205px;
  margin-top: 100px;
  padding-top: 20px;
  background-color: #2A343D;
}
footer h5{
    color: #E8E8E8;
}